 body{
    margin:0;
} 

#container1 {
width: 100%;
height:80vh; 
margin: 0;
background-color:#e6e6e6;
position: relative;
}

.header {
    height: 5rem;
    display:flex;
}

.left-header{
    width:40%;
    height: 100%;
}

img[alt=phoenix-logo] {
    float: left;
    width: 30%;
    padding-left: 25%;
    padding-right: 2%;
}

h3[id=phil] {
    font-size: 3rem;
    font-style: oblique;
    margin-block-start: 2%;
    color:rgb(0, 0, 65);
}

.right-header {
    width:50%;
    height: 100%;
    margin-left: 10%;
    font-family: Noto Sans JP, sans-serif;
    font-size: 0.875rem;
}

#top-right {
    margin-left: 15%;
    display: flex;
}

 .top-right-1 {
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
} 

.top-right-2 {
    display:flex;
    margin-top: 4%;
    margin-left: 2%;
}

div.sm-links {
    border: 2px solid rgb(42, 102, 214);
    width: 25px;
    height: 25px;
    border-radius: 15px;  
    margin-left: 5px; 
} 

a{
    padding-left: 8px;
    padding-top: 5px;
    text-decoration: none;
    color:rgb(0, 0, 65);
}

a:hover {
    color:rgb(253, 90, 31);
}

#main {
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
     height: 70%; 
    margin-top: 6.3%;
}
 
 /* .divisions {
    border: 1px solid green;
}       */

 .divisions:first-child{
    grid-row: 1 / span 2;
    position:relative ; 
} 

.divisions:nth-child(2){
    color:rgb(0, 0, 65);
}

div > img[alt=image-of-phil] {
    width: 320px;
    padding-left: 0%;
    position: absolute; 
     left: 20px; 
     /* float: left;  */
}

img[alt=circle] {
    width:80%;
    position:absolute;
    left: 15%;
    top:30%;

}

h2.big-text {
    font-size: 3.0rem;
    margin-block-start: 10%;
    margin-block-end: 0;
    padding-bottom: 0;
    font-family: 'Limelight','cursive';
}

h4.small-text {
    font-size: 2rem;
    margin-block-start:0;
    margin-block-end: 0;
    font-weight: normal;
    font-family: Noto Sans JP, sans-serif;
}

input[type=submit]{
    margin-left:20%;
    margin-top: 5%;
    height: 45px;
    width: 20%;
    border-radius: 20px;
    border:0;
    background-color:rgb(253, 90, 31);
    color: #fff;
    font-weight: bold;
}

p#hire {
    display: none;
}

input[type=submit]:hover {
    background-color:orangered;
}


#container2 {
    width: 100%;
    display: flex;
    height:100%; 
    border-bottom:3px solid rgb(253, 90, 31);
    background-color: aquamarine;
}

#w-e {
    width:33.3%;
    border-right:1px solid tan;
    margin-block-start: 0;   
}

#skills {
    width:33.3%;
    text-align: center;
    border-right:1px solid tan;
}

#projects {
    width:33.3%;
}

/* #c2-heads {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin:auto;
} */

.c2-heads {
    margin: auto;
    text-align: center;
    background-color:rgb(253, 90, 31);
    width:100%;
    color:whitesmoke;
    font-size: 1.4rem;
    margin-top: 0;
    /* height:100%; */
    font-weight: bold;
    margin:auto;
}

ol{
    margin-top: 10%;
}

div.for-w-e {
    width: 80%;
    margin-top: 10%; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 5%;
    row-gap: 10%;
    column-gap: 15%;
}

div.for-skills {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5%;
    gap: 5%;
    text-align: center;
}

h4[id=tech], h4[id=soft] {
    text-align: center;
}

h4[id=tech]{
    margin-top: 10%;
}

h4[id=soft]{
    margin-top: 10%;
}

.c3-top, #c4-top {
    margin: auto;
    width: 55%;
    height: 10%;
    text-align: center;
    background-color: rgb(253, 90, 31);
    color:whitesmoke;
}

#sub{
    text-align: center;
    font-style: oblique;
}

.c3-body {
    margin:auto;
    width: 55%;
    height: 40vw;
    margin-bottom: 5%;
}

iframe {
    width:100%; 
     height: 100%;
}

.container4 {
    
    margin:auto;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* .pics-div {
    border:  1px solid tan;
} */

img[alt=gallery] {
    width: 99%;
    height:100%;
}

img[alt=gallery]:hover {
    border:2px solid #e6e6e6;
}

footer {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #e6e6e6;
    color:rgb(0, 0, 65);
    font-weight: bolder;
    font-size: larger;
}



@media (max-width: 900px) {
img[alt=circle] {
    width:50%;
}

}

@media (max-width: 850px) {
    
    #top-right {
        display:block;
        margin-top: 4%;
        margin-left: 2%;
    }

    .top-right-1 {
        margin-left: 0;
    }

    input[type=submit] {
        display:none;
    }

    p#hire {
        display: inline-block;
    }

    div > img[alt=image-of-phil] {
        width: 250px;
    }

    img[alt=circle] {
        top:20%;
        left:7.5%;
    }
}

@media (max-width: 685px) {
    h2.big-text {
        font-size: 1.5rem;
    }
    
    h4.small-text {
        font-size: 1rem;
    }

    #container1 {
        height: 50vh;
    }

    #container2 {
        display: block;
    }

    div > img[alt=image-of-phil] {
        width: 200px;
    }

    #w-e  {
        width:80%;
        margin-left:15%;
        margin-bottom: 50%;
        border-right: 0px;
    }

    #skills  {
        width:80%;
        margin-left:15%;
        margin-bottom: 15%;
        border-right: 0px;
    }

    #projects  {
        width:80%;
        margin-left:15%;
    }

    .container4 {
        grid-template-columns: 1fr 1fr;
    }

    footer{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 585px) {
    img[alt=circle] {
        top:20%;
        left:0;
    }
}  

@media (max-width: 559px) {
    h2.big-text {
        font-size: 1.2rem;
    }
    
    h4.small-text {
        font-size: 0.8rem;
    }
}

@media (max-width: 525px) {

    div > img[alt=image-of-phil] {
        width: 80%;
    }

    img[alt=circle] {
        width:10%;
       
        
    }
}

    @media (max-width: 435px) {
        #main {
            grid-template-columns: 1fr;
        }

        div > img[alt=image-of-phil] {
           
            width: 100px;
        }

        .divisions:first-child{
        height: 100px;
        } 
    
    }

    @media (max-width: 350px) {
     
        .divisions:first-child{
        height: 150px;
        }
        
        .top-right-1 {
            display: block;
        } 
    
    }

    @media (max-width: 330px) {
     
       #container2, #container2  {
           font-size:0.7rem;
       }

       .c2-heads {
         font-size: 1rem;
       }

       .right-header{
           font-size: 0.5rem;
       }

       /* .top-right-2 {
           display:block;
       } */

       h2.big-text {
        font-size: 0.8rem;
    }
    
    h4.small-text {
        font-size: 0.5rem;
    }

    .container4 {
        grid-template-columns: 1fr;
    }

    h2[class=space]{
        font-size: 0.8rem;
    }

    footer {
        font-size: 0.8rem;
    }

    p[id=hire] {
        font-size: 0.5rem;
        margin-top: 0;
        margin-block-start: 0;
    }

    div.sm-links {
        border:0px;
        margin-left: 0;
        width:20px;
        height:20px;
    }
       
    }

   
